{% assign date = date | date: "%Y-%m-%d" %}
{% assign day = date | date: "%-d" %}
{% assign month = date | date: "%B" %}

{% case day %}
    {% when '1' or '21' or '31' %}
        {% assign suffix = 'st' %}
    {% when '2' or '22' %}
        {% assign suffix = 'nd' %}
    {% when '3' or '23' %}
        {% assign suffix = 'rd' %}
    {% else %}
        {% assign suffix = 'th' %}
{% endcase %}
<span class="formatted-date">{{ month }} {{ day }}{{ suffix }}</span>