<div class='hoox-shop__afterpay'>
    <input type="text" name="giftcode" aria-label="Quantity for Omnilux Contour Face" value="1" step="1" min="1" inputmode="numeric" data-qty-input="" class="quantity form-control text-center">
</div>