<div class='hoox-shop__afterpay'>
    <p class='hoox-shop__afterpay-text'>
        or 4 interest-free payments of <span class='js-after-pay-price'>{{ product.price |  divided_by: 4 | money }}</span>
        with
    </p>

    <button class='hoox-shop__afterpay-icon js-afterpay-toggle'>
        {% render 'hoox-icon-afterpay' %}
    </button>
</div>
{% assign metafieldValue = product.metafields.custom.saletext | strip %}
{% if metafieldValue != blank %}
  <div class="saletext">{{ metafieldValue }}</div>
{% endif %}