{% assign price = product.price | divided_by: 4 %}

<div class='hoox-shop__afterpay'>
    <p class='hoox-shop__afterpay-text'>
        or 4 interest-free payments of <span class='js-after-pay-price'>{% render 'price-with-taxes', price: price %}</span>
        with
    </p>

    <button class='hoox-shop__afterpay-icon js-afterpay-toggle'>
        {% render 'hoox-icon-afterpay' %}
    </button>
</div>

{%- if request.path contains '/pages/blemish-eraser' -%}
    {%- assign metafieldValue = product.metafields.custom.saletext | strip -%}
    {%- if metafieldValue != blank -%}
      <div class="saletext small text-center" style="display: none">{{ metafieldValue }}</div>
    {%- endif -%}
{%- endif -%}
  