<div data-oke-media-grid
     data-oke-reviews-grid-style="custom-dimensions: 5x2"
     data-oke-reviews-mobile-grid-style="hero-three-mobile"
     data-oke-reviews-hide-arrow="true"
     data-oke-reviews-gap-size="1"></div>