.hoox-promo-bar {
    display: none;
    background-color: #99552B;
    padding: 6px 0;
    align-items: center;
    justify-content: center;
}

.hoox-promo-bar__text {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.hoox-promo-bar__text span {
    font-weight: 600;
}

#slide1 {
    display: none !important;
}

@media (min-width: 1024px) {
    .hoox-promo-bar {
        padding: 10px 0;
    }
}