.addtocartbtn.manual-bis-trigger:has( + .klaviyo-bis-trigger) {
    display: block !important;
}
.addtocartbtn.manual-bis-trigger + .klaviyo-bis-trigger.addtocartbtn {
    display: none !important
}
.hidden {
    display: none !important;
}
manual-bis {
    z-index: 9999;
    position: relative;
}
.manual-bis-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.popup-overlay {
    background-color: #303030;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block !important;
}
.popup-content {
    position: relative;
    max-width: 460px;
    border-radius: 3px;
    padding: 30px 40px;
    background: #fff;
    color: #303030;
    margin: 10rem auto auto;
}
.popup-content .popup-close {
    appearance: none;
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: auto;
}
.manual-bis-popup__heading {
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
}
.manual-bis-popup__content {
    margin: 1em 0;
    font-size: 14px;
    font-weight: 400;
}
.popup-content input[name="email"] {
    font-size: 14px;
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
    width: 100%;
    color: #303030;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.popup-content button[type="submit"] {
    height: 4em;
    border-radius: 4em;
    font-weight: 600;
    font-size: 14px;
    text-transform: none;
    width: 100%;
    letter-spacing: 0;
}
.manual-bis-message:empty {
    display: none;
}
.manual-bis-success {
    color: #303030;
    padding: 6px 11px;
    margin-top: 1.5rem;
    border-radius: 2px;
    font-size: 13px;
    text-align: left;
}
.manual-bis-success span {
    text-decoration: underline;
    cursor: pointer;
}
.manual-bis-success:not(.hidden) + [type="submit"] {
    display: none;
}
@media screen and (max-width: 749px) {
    .popup-content {
        padding: 3rem 2rem;
    }
}

#newsletter_subscription p {
    margin: 1em 0;
}
#newsletter_subscription label {
    font-size: 14px;
    font-weight: 400;
}
