.newsletter-banner__inner {
    display: flex;
    align-items: stretch;
    border-top: solid 2px black;
    border-bottom: solid 1px black;
}

.newsletter-banner__inner > * {
    flex: 1;
    width: 50%;
}

.newsletter-banner__content {
    background: url("https://cdn.shopify.com/s/files/1/0482/6736/2466/files/ab5aaa334b1ae803235df8ea1e3f5ecb.png?v=1710482911");
    background-size: cover;
    background-position: center;
}

@media (min-width: 750px) {
    .newsletter-banner__content {
        border-right: solid 1px black;
    }
}

.newsletter-banner__content-inner {
    max-width: 475px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.newsletter-banner__content-inner h2 {
    font-weight: bold;
}

.newsletter-banner__text {
    font-size: 18px;
}

.newsletter-banner__image {
    overflow: hidden;
}

.newsletter-banner__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsletter-form__wrapper {
    flex-direction: column;
    row-gap: 1rem;
}

.newsletter-form__wrapper input {
    width: 100% !important;
}

.newsletter-form__wrapper button {
    font-size: 16px;
}

html .newsletter-banner form {
    background-color: transparent !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

html .newsletter-banner form > div > div:nth-child(2), .newsletter-banner form > div > div:nth-child(3) {
    display: none !important;
}

html .newsletter-banner form > div > div:first-child {
    flex-direction: column !important;
}

html .newsletter-banner form > div > div:first-child > div:first-child {
    padding: 0 !important;
}

html .newsletter-banner form > div > div:first-child > div:last-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html .newsletter-banner form > div > div:first-child > div:last-child button {
    width: 100% !important;
    font-weight: bold !important;
    padding: 15px 10px !important;
    font-size: 0 !important;
}

html .newsletter-banner form > div > div:first-child > div:last-child button span {
    font-size: 16px !important; /* Reset to the original font size or whatever size you need */
    color: rgb(255, 255, 255); /* Ensure the text color is set, if needed */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* Reset the font family, if needed */
    text-transform: uppercase !important;
  }

html .newsletter-banner form > div:first-child > div:first-child > div:first-child > div:first-child {
  margin-top: -50px;
}

html .newsletter-banner form input {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: solid 1px black !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 45px !important;
}

html .newsletter-banner form input::placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
}

html .newsletter-banner #footer_email_capture {
    margin-top: 2.75rem !important;
}

@media (max-width: 749px) {
    .newsletter-banner__image {
        display: none;
    }

    .newsletter-banner__inner > * {
        flex: 1;
        width: 100%;
    }

    .newsletter-banner__content-inner {
        max-width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .newsletter-form__wrapper {
        margin-bottom: 0 !important;
    }

    .newsletter-banner__content-inner h2 {
        font-size: 22px;
    }
    
    .newsletter-banner__text {
        font-size: 14px;
    }
}