.new-before-after-banner {
    background: url("https://cdn.shopify.com/s/files/1/0482/6736/2466/files/Untitled_background.png?v=1722171148");
    background-size: cover;
    background-repeat: no-repeat;
}

.before-after-banner__background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.before-after-banner__inner {
    display: flex;
    align-items: center;
    gap: 3rem
}

.before-after-banner__inner > * {
    flex: 1;
    max-width: calc(50% - 1.5rem);
}

.before-after-banner__slide {
    display: flex;
    gap: 1rem;
}

.before-after-banner__slide > * {
    flex: 1;
    border: 3px solid #000000;
    text-align: center;
}

.before-after-banner__slide img {
    height: auto;
}

.before-after-banner__label {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: .75rem;
    font-weight: bold;
}

.before-after-banner__heading {
    font-size: 34px;
    font-weight: 400;
}

.before-after-banner__description ul {
    padding: 0;
    list-style: none;
}

.before-after-banner__description ul li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    gap: 4px;
}

.before-after-banner__description ul li::before {
    content: "";
    display: block;
    margin-right: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='rgb(151, 84, 43)' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 12.75 6 6 9-13.5' /%3E%3C/svg%3E%0A");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    min-width: 16px;
    height: 16px;

}

.before-after-banner__button {
    background-color: black;
    padding: 1rem 4rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    transition: all .2s ease-in-out;
    width: 400px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.before-after-banner__button:hover {
    background-color: #333;
    color: white;
}

.before-after-banner__description {
    margin: 2rem 0 3rem 0;
}

.before-after-banner__right .dots {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2rem;
    justify-content: center;
}

.before-after-banner__right .dots .dot {
    border-radius: 50%;
    height: 10px;
    display: block !important;
    width: 10px;
    background-color: #C6C6C6;
    transition: all .2s;
}

.before-after-banner__right .dots .dot.dot--active {
    background-color: #868686;
}

.before-after-banner__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
}

.before-after-banner__additional-info p {
    font-size: 14px;
}

@media (max-width: 749px) {
    .before-after-banner__inner {
        flex-direction: column-reverse;
    }

    .before-after-banner__inner > * {
        flex: 1;
        max-width: 100%;
    }

    .before-after-banner__heading {
        font-size: 25px;
    }

    .before-after-banner__button {
        width: 100%;
        max-width: 100%;
    }

    .before-after-banner__footer {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

.before-after-banner__image {
    flex: 1;
}

.before-after-banner__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.before-after-banner__before, .before-after-banner__after {
    display: flex;
    flex-direction: column;
}