.new-featured-collection {
    border-bottom: solid 1.5px black;
}

.new-featured-collection__heading {
    text-align: center;
}

.new-featured-collection__description {
    text-align: center;
}

.new-featured-collection__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .75rem;
    margin-top: 3rem;
}

.new-featured-collection__item {
    border: solid 1px black;
}

.new-featured-collection__image img {
    aspect-ratio: 10/8;
    object-fit: cover;
}

.new-featured-collection__title {
    text-align: center;
    padding: 1rem;
    font-size: 18px;
}

.new-featured-collection__button {
    text-align: center;
    margin: 0 auto;
    min-width: 20rem !important;
    width: fit-content;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    text-transform: uppercase;
    margin-top: 3rem;
    letter-spacing: 2px !important;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.new-featured-collection__button:hover {
    color: white;
}

.new-featured-collection {
    background: url("https://cdn.shopify.com/s/files/1/0482/6736/2466/files/Frame_18.png?v=1720880470");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 749px) {
    .new-featured-collection__grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: .75rem;
        row-gap: .75rem;
    }

    .new-featured-collection__item:first-child {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .new-featured-collection__image img {
        aspect-ratio: 8/10;
    }

    .new-featured-collection__item:first-child img {
        aspect-ratio: 10/6;
    }

    .new-featured-collection__title {
        padding: .6rem 1rem;
    }
}