.recommended-by-slider__slider {
    display: flex;
    align-items: center;
}

.recommended-by-slider__inner {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.recommended-by-slider__left {
    min-width: max-content;
    padding-left: 3rem;
    font-size: 20px;
}